.roulette-board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.roulette-slot {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 5px;
}

.red {
    background-color: red;
}

.black {
    background-color: black;
}

.green {
    background-color: green;
}
