<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-dark text-white text-center">
          <h3>Aviator</h3>
        </div>
        <div class="card-body">
          <div class="mb-3" *ngIf="!crashResponse" style="position: relative; text-align: center;">
            <img class="img-fluid" src="https://m.media-amazon.com/images/I/51zKe56yfcL.png">
          </div>
          <div class="mb-3" *ngIf="crashResponse" style="position: relative; text-align: center;">
            <img class="img-fluid" src="https://m.media-amazon.com/images/I/51zKe56yfcL.png" style="display: block; margin-left: auto; margin-right: auto;">
            <h1 class="crash-text" [ngClass]="{'text-success': crashResponse.win, 'text-danger': !crashResponse.win}" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
              x{{crashResponse.multiplier.toFixed(2)}}
            </h1>
            <h3 class="crash-text" [ngClass]="{'text-success': crashResponse.win, 'text-danger': !crashResponse.win}">
              {{crashResponse.win ? 'You won ' : 'You lost '}}
            </h3>
          </div>
          <div class="mb-3 text-center">
            <label for="bet" class="form-label">Your bet</label>
            <input type="number" class="form-control" id="bet" name="bet" [(ngModel)]="bet" required />

            <label for="multiplier" class="form-label">Your multiplier</label>
            <input type="number" class="form-control" id="multiplier" name="multiplier" [(ngModel)]="multiplier" required />
          </div>
          <button type="submit" class="btn btn-dark w-100" (click)="crash()">
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
