<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card text-center">
        <div class="card-header">
          <h2>Slot Machine</h2>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col" *ngFor="let item of displayItems">
              <div class="slot-item">
                <img 
                  *ngIf="slotResponse" 
                  [src]="'http://localhost:8080/images/' + item.imagepath" 
                  class="img-fluid spinning"
                >
                <img 
                  *ngIf="!slotResponse" 
                  src="https://w7.pngwing.com/pngs/450/393/png-transparent-question-mark-game-question-mark-game-angle-nintendo.png" 
                  class="img-fluid spinning"
                >
              </div>
            </div>
          </div>
          <div class="mt-4">
            <input type="number" [(ngModel)]="inputBet" class="form-control" placeholder="Enter your bet">
          </div>
          <div class="mt-4">
            <button class="btn btn-dark" (click)="playSlot()">Play</button>
          </div>
          <div *ngIf="slotResponse" class="mt-4">
            <div *ngIf="slotResponse.win" class="alert alert-success">
              🎉 CONGRATS! You won {{ slotResponse.amount }}$
            </div>
            <div *ngIf="!slotResponse.win" class="alert alert-danger">
              ❌ You lost {{ slotResponse.amount }}$ :( 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
