<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2>Add Case</h2>
        <form (submit)="onSubmit($event)">
          <div class="form-group">
            <label for="caseName">Case Name</label>
            <input type="text" id="caseName" class="form-control" [(ngModel)]="case.name" name="caseName" required>
          </div>
          <div class="form-group">
            <label for="casePrice">Case Price</label>
            <input type="text" id="casePrice" class="form-control" [(ngModel)]="case.price" name="casePrice" required>
          </div>
          <div class="form-group">
            <label for="caseImageFile">Case Image</label>
            <input type="file" id="caseItemImageFile" class="form-control" (change)="onFileChange($event)" required>
          </div>
          <button type="submit" class="btn btn-primary mt-3">Add Case</button>
        </form>
        <div *ngIf="message" class="alert alert-info mt-3">{{ message }}</div>
      </div>
    </div>
  </div>
  