<div class="container mt-4">
    <div class="row">
      <div class="col-lg-2 col-md-4 col-sm-6  mb-1" *ngFor="let skin of skins">
        <div class="card h-100 shadow-sm">
          <img class="card-img-top" src="data:image/jpeg;base64,{{skin.img}}" alt="Card image cap" style="width: 150; height: 150;" [style.border]="'3px solid ' + skin.type" >
          <div class="card-body">
            <h6 class="card-title" [style.color]="skin.stattrak ? 'orange' : ''" style="font-size: 0.7rem;">
                {{skin.stattrak ? 'Stattrak ' : ''}} {{skin.name }} {{getWear(skin.condition)}}
               </h6>
               <!-- <p class="card-text">Price: {{ skin.price }}$</p> -->
          </div>
          <button (click)="sellSkin(skin.id)">Sell for {{skin.price}}$ </button>
        </div>
      
    </div>
    </div>
</div>

