<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div *ngIf="case && !skin">
                <div class="card mb-3 mx-auto" style="width: 90%;">
                    <img class="card-img-top" [src]="'data:image/jpeg;base64,' + case.returnedImg" alt="Case image" style="width: 100%; height: auto;">
                    <div class="card-body text-center">
                        <h5 class="card-title" style="font-size: 1rem;">{{ case.name }}</h5>
                        <button class="btn btn-dark" style="font-size: 0.8rem;" (click)="unbox(case.id)" data-toggle="modal" data-target="#exampleModalCenter">Open this case for {{ case.price }}</button>
                    </div>
                </div>

                <div class="row">
                    <div *ngFor="let item of case.items" class="col-6 col-sm-4 col-md-3 mb-3">
                        <div class="card h-100" style="width: 100%;">
                            <img class="card-img-top" [src]="'data:image/jpeg;base64,' + item.img" 
                                 [style.border]="'2px solid ' + item.type" 
                                 alt="Item image" style="width: 100%; height: auto;">
                            <div class="card-body text-center">
                                <h6 class="card-title" [style.color]="item.type" style="font-size: 0.7rem;">
                                  {{item.name}}
                                </h6>
                                <h6 class="card-title" [style.color]="item.type" style="font-size: 0.7rem;">
                                    {{ roundToTwoDecimals(item.price * 0.5) }}$ - {{ roundToTwoDecimals(item.price * 3) }}$
                                  </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card h-100" style="width: 100%;" *ngIf="skin">
                <img class="card-img-top" [src]="'data:image/jpeg;base64,' + skin.img" 
                     [style.border]="'2px solid ' + skin.type" 
                     alt="Item image" style="width: 100%; height: auto;">
                <div class="card-body text-center">
                    <h3 class="card-title" [style.color]="'blue'" style="font-size: 0.7rem;">
                        Congrats you unboxed 
                    </h3>
                    <h6 class="card-title" [style.color]="skin.stattrak ? 'orange' : ''" style="font-size: 0.7rem;">
                       {{skin.stattrak ? 'Stattrak ' : ''}} {{skin.name }} {{getWear(skin.condition)}}
                      </h6>
                    <h6 class="card-title" style="font-size: 0.7rem;">
                       {{roundToTwoDecimals(skin.price)}}$
                      </h6>
                </div>
                <div class="card-body text-center">
                    <button class="btn btn-dark" style="font-size: 0.8rem;" (click)="okay()" >Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>
